<div id="message-<%= message.id %>" class="messages_container">
    <div class = "message_content2" >
    <small>
      <span class="author" data-chatroom-subscription-target="authors"> <strong><%= message.user.first_name%></strong></span>
      <i class="created_at"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p class="content"><%= message.content %></p>
  </div>
<br>
</div>
