<!-- footer -->

    <div class="container-fluid mt-5 mb-0 flex-grow-1 testimonial">
        <div class="row py-5">
          <div class="col-lg-12  text-white text-center">
            <p class="lead mb-0">Offering online mental health support services since 2022</p>
            <p class="client-review-stars">
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
              </p>
              <p>
                  <h4>First Stepper Testimonials</h4>
              </p>

              <div class="container">

                  <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active text-center text-white p-4">
                          <p class="text-white">"I found First Step while looking for somewhere online where I could talk to someone confidentially about the problems I was facing and how to find the right therapy for me. I had no idea where to start but thanks to my First Step guide, I was able to find the right help at a time in my life when I needed it the most"
                          </p>
                          <h6 class="font-weight-bold">Iliya O</h6>

                          <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active text-center text-white p-4">
                          <p class="text-white">"When I was struggling with my mental health problems, I didn't have the energy or the motivation to seek help for myself. It felt too overwhelming but I knew I had to talk to someone other than my family and friends. With the help of First Step, I was able to have a private chat with someone about my options. Without First Step, I don't know if I could've reached out for help on my own"
                          </p>
                          <h6 class="font-weight-bold">Kunal K</h6>

                      </div>
                      </div>
                      <div class="carousel-item text-center p-4">
                          <p class="mb-0"> write a review here
                          </p>


                      </div>
                      <div class="carousel-item text-center p-4">
                        <blockquote class="blockquote text-center">
                          <p class="mb-0">write a review here
                          </p>
                        </blockquote>
                      </div>
                    </div>
                    <ol class="carousel-indicators">
                      <li data-target="#client-testimonial-carousel" class="" data-slide-to="0" class="active"></li>
                      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
                    </ol>
                  </div>
                       </p>
                    </div>
                  </div>
              </div>

        </div>
      </div>
    </div>
<footer class="bg-footer ">
  <div class="container py-5">
    <div class="row py-3">
      <footer class="footer mt-5">
        <section class="footer-top pt-4">
          <section class="links-section">
            <div id="company-links" class="links-list">
            </div>
          </section>
        </section>
        <section class="footer-bottom">
          <div class="footer-bar"></div>
          <h4 class="join mt-2" style="color: white;">Made with ❤️ by</h6>
          <section class="socialIcons-section">
            <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
              <div class="circle"><a href="https://www.github.com/baltrock" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
              <p style="color: white;">Ben Murphy</p>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
              <div class="circle"><a href="https://www.github.com/IliyaOblakov" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
              <p style="color: white;">Iliya Oblakov </p>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
              <div class="circle"><a href="https://www.github.com/kunalcancode" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
              <p style="color: white;">Kunal Kumar </p>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-items: center;">
              <div class="circle"><a href="https://www.github.com/MelissaTardivel" target="_blank" class="icon"><i class="fa-brands fa-github" aria-hidden="true"></i></a></div>
              <p style="color: white;">Melissa Tardivel</p>
            </div>
          </section>
        </section>

      </footer>
    </div>
  </div>
</footer>
<div class="footer-end py-2">
  <div class="container text-center">
    <p class="text-white mb-0 py-2 p-4 footer-liks">
      <a href="" class="text-white">Home</a>&nbsp;  &nbsp;<p class="text-white footer-links">
         👣 👣   &nbsp; | &nbsp;  <span>✉️ help@yourfirststep.com</span>  &nbsp; | &nbsp; 👣 👣
          </p>  <span>2022 © First Step</span>
    </p>
  </div>
</div>
