.link-space {
  margin-bottom: 20px;
}

.s-booking-box {
display: flex;
 background: #957bc8;
 margin-bottom: 20px;
 border-radius: 1pc;
 height: 700px;
 align-items: center;
 padding: 20px;
 justify-content: space-around;
 margin-top: calc(-1 * var(--bs-gutter-y));
 margin-right: calc(-.5 * var(--bs-gutter-x));
 margin-left: calc(-.5 * var(--bs-gutter-x));
}

.s-card{
  background: #e7d8d3;
  padding: 4px;
  text-align: center;
  height: 608px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}

.g-booking-box {
  display: flex;
   background: #957bc8;
   margin-bottom: 20px;
   border-radius: 1pc;
   height: 930px;
   align-items: center;
   padding: 20px;
   justify-content: space-around;
   margin-top: calc(-1 * var(--bs-gutter-y));
   margin-right: calc(-.5 * var(--bs-gutter-x));
   margin-left: calc(-.5 * var(--bs-gutter-x));
  }

.g-card{
  background: #e7d8d3;
  padding: 4px;
  text-align: center;
  height: 815px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}

.g-chat-now {
  margin-top: 15px;
}

#b-image {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}

#health-quote {
  font-family: 'cursive', Courier, monospace;
  font-size: 30px;
}

.button-spacing {
  margin-top: 10px;
}

.bs-info {
  background: #3D3253;
  padding: 5px;
  border-radius: 22px;
  margin-bottom: 18px;
  color: white;
}

.ab-info {
  background: #3D3253;
  padding: 5px;
  border-radius: 22px;
  color: white;
  text-align: center;
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
}
.sb-info {
  background: #3D3253;
  padding: 10px;
  border-radius: 22px;
  color: white;
  text-align: center;
  width: 480px;
  margin: auto;
  margin-bottom: 20px;
}
