.big {
  justify-content: center;
  justify-self: center;
  margin: auto;
}

.message_box {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}
.message_content2 {
  background-color: #e4daf8;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  width: 45%;
}

.author {
  color: rgb(0, 0, 0);
  font-size: 16px;
 }
.created_at {
  color: black;
  font-size: 12px;
 }
.content {
  color: black;
 }

.move_right {
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
}

.user_seeker{
  background-color: #efbfbf;
  position: relative;
  right: 5px;
}
