.background {
  background-color: #F26A6A;
  padding: 30px;
}
.big {
  justify-content: center;
  justify-self: center;
  margin: auto;
}


.message-box {
  // border: 2px solid black;
  margin: 10px;
  position: relative;
  height: 70px;
}
.message_content {
  // border: 2px solid red;
  margin: 3px;
}
// .author {
//   // border: 2px solid purple;
// }
// .created_at {
// //  border: 2px solid blue;
// }
// .content {
//   // border: 2px solid green;
// }
.move_right {
  position: absolute;
  right: 20px;
}
