.my-bookings{
  background-color: #E6D8D3;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}

.normal {
  width: 40%;
  margin-right: 20px;

}

.nhs-widgets {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 50%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  border-radius: 10px;
  margin-right: -25px; // added for my_bookings page
}

.nhs-widgets iframe {
 margin-bottom: 34px;
}

.cards {
  display: grid;
}

.container-my-bookings {
  display: flex;
  justify-content: space-evenly;
}

.mb-container {
  width: 100%;
  background-color: #957BC8;
  border-radius: 1pc;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 28px;

}

.h1-my-bookings {
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 4px 4px 2px #3D3253;
}

.resources-h2 {
  background-color: #E6D8D3;
  width: 600px;
  border-radius: 4px;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}

.create-booking-button {
  text-align: center;
  font-size: 20px !important;
  padding: 20px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
