.my-bookings{
  background-color: #E6D8D3;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
}

.normal {
  width: 40%;

}

.nhs-widgets {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 50%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.cards {
  display: grid;
}

.container-my-bookings {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #957BC8;
}

.h1-my-bookings {
  text-align: center;
}

.resources-h2 {
  background-color: #E6D8D3;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}
