.my-bookings{
  background-color: #3D3253;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 10px;
  text-align: center;

}

.nhs-widgets {
  margin-bottom: 10px;
}

.cards {
  display: grid;
}
